body {
    font-family: "Calibri", sans-serif;
  }
  
  .header{
      display: flex;
      color:rgb(7, 6, 69);
      margin: 0px;
      justify-content: center;
  }
  
  .searchbar{
     display: inline-block;
     width: 30vw;
     height: 5vh;
     box-sizing: border-box;
     border-radius: 5px;
     border: 2px solid rgb(122, 123, 122);
     margin-top: 20px;
     margin-left: 35vw;
     font-size: large;
     margin-right: 0;
  }
  
  
  .parent{
    width: 100%;
    max-width: 80rem;
    margin: 4rem auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap: 3rem;
  }
  
  .box{
    width: 300px;
    margin: 0 auto;
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.2);
    transition: 0.2s all;
    pointer-events: none;
    border-radius: 15px;
    background-color: bisque;
  }
  
  .charimage{
      width: 100%;
      height: 350px;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px
  }

  .details{
    padding: 5px;
  }